.ccm-cloud_client_app img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ccm-cloud_client_app { font-family: Arial, sans-serif; }

.ccm-cloud_client_app button,
.ccm-cloud_client_app input { line-height: normal; }

/*------------------------------------------------------ HEADER ------------------------------------------------------*/

.cloud_client_app_title,
.cloud_client_app_right > div {

  height: 20px;
  line-height: 13px;

}

.cloud_client_app_right {

  padding: 0 5px;
  font-size: 14px;

}

.cloud_client_app_right > div { float: right; }

.ccm-cloud_client_app .ccm-user > button,
.ccm-cloud_client_app .ccm-issue > button,
.ccm-cloud_client_app .ccm-fontresizer > button
{

  border: 0;
  background: transparent;
  padding: 0 5px;
  font-family: inherit;
  cursor: pointer;

}

/*------ TITLE ------*/

.cloud_client_app_title {

  float: left;
  padding: 0 5px;
  font-size: 16px;
  color: grey;
  overflow: hidden;

}

/*------ ISSUE ICON ------*/

.ccm-cloud_client_app .ccm-issue {

  position: relative;
  bottom: 10px;
  font-size: 16px;

}

/*------ FONTRESIZER ------*/

.ccm-cloud_client_app .ccm-fontresizer > button { text-decoration: underline; }

.ccm-cloud_client_app .ccm-issue > button { font-size: 24px; }

/*------ FLAGS ------*/

.ccm-cloud_client_app .ccm-langmenu {

  margin-left: 5px;
  border-left: 1px solid gray;
  height: 14px;
  padding-left: 5px;

}

.ccm-cloud_client_app .langmenu_flag-de { background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjYwMCIgdmlld0JveD0iMCAwIDUgMyI+DQo8cGF0aCBkPSJtMCwwaDV2M2gtNXoiLz4NCjxwYXRoIGZpbGw9IiNkMDAiIGQ9Im0wLDFoNXYyaC01eiIvPg0KPHBhdGggZmlsbD0iI2ZmY2UwMCIgZD0ibTAsMmg1djFoLTV6Ii8+DQo8L3N2Zz4NCg=='); }
.ccm-cloud_client_app .langmenu_flag-en { background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K'); }

.ccm-cloud_client_app .langmenu_flag {

  float: left;
  margin: 1px 5px;
  width: 20px;
  height: 12px;
  background-size: 100% 100%;
  cursor: pointer;
  opacity: 0.33;

}

.ccm-cloud_client_app .langmenu_flag:hover,
.ccm-cloud_client_app .langmenu_selected { opacity: 1; }

/*------ LOGIN ------*/

.ccm-cloud_client_app .ccm-user {

  margin-left: 5px;
  border-left: 1px solid gray;
  height: 14px;
  padding-left: 8px;
  margin-bottom: 1px;

}

.ccm-cloud_client_app .ccm-user > span {

  font-size: 12px;
  color: #739453;

}

.ccm-cloud_client_app .user_login { text-decoration: underline; }

/*------------------------------------------------------ MENU'S ------------------------------------------------------*/

/*------ MENU1 ------*/

.cloud_client_app_menu1 {

  clear: both;
  border-top: 1px solid gray;
  padding: 5px 9px 0 4px;

}

.cloud_client_app_menu1 > .menu_entries {

  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  color: white;

}

.cloud_client_app_menu1 > .menu_entries > .menu_entry {

  flex-grow: 1;
  -webkit-flex-grow: 1;

  margin: 0.1em;
  padding: 0.3em 1em;

  text-align: center;
  cursor: pointer;

}

.cloud_client_app_menu1 > .menu_entries > .menu_entry:not( .menu_selected ) { background-color: #739453; }

.cloud_client_app_menu1 > .menu_entries > .menu_entry:hover,
.cloud_client_app_menu1 > .menu_entries > .menu_selected { background-color: #313131; }

.cloud_client_app_menu1 > .menu_content { margin: 0.6em; }

/*------ MENU2 ------*/

.cloud_client_app_menu2 {

  border: 0.08em solid #aaaaaa;
  background-color: white;
  padding: 0.2em;

}

.cloud_client_app_menu2 > .menu_entries {

  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  margin-bottom: 0.1em;
  border: 0.08em solid #aaaaaa;
  padding: 0.1em 0.2em 0;

  background-color: #DDDDDD;
  color: #555555;

}

.cloud_client_app_menu2 > .menu_entries > .menu_entry {

  flex-grow: 1;
  -webkit-flex-grow: 1;

  margin-top: 0.1em;
  border: 0.08em solid #d3d3d3;
  border-bottom: 0;
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.5em 1em;

  background-color: #e9e9e9;
  text-align: center;
  cursor: pointer;

}

.cloud_client_app_menu2 > .menu_entries > .menu_entry:hover:not( .menu_selected ) {

  background-color: #313131;
  color: white;

}

.cloud_client_app_menu2 > .menu_entries > .menu_selected {

  margin-bottom: -0.07em;

  border-color: #aaaaaa;
  background-color: white;
  cursor: auto;

}

/*------ MENU3 ------*/

.cloud_client_app_menu3 {

  padding: 1em;

}

.cloud_client_app_menu3 > .menu_entries {

  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  border: 0.06em solid gray;
  border-radius: 1em;
  padding: 0 0.1em;

  font-size: 80%;
  color: #555555;

}

.cloud_client_app_menu3 > .menu_entries > .menu_entry {

  flex-grow: 1;
  -webkit-flex-grow: 1;

  margin: 0.2em 0.1em;
  border-radius: 1em;
  padding: 0.3em 0.6em;

  text-align: center;
  color: black;
  cursor: pointer;

}

.cloud_client_app_menu3 > .menu_entries > .menu_entry:not( .menu_selected ) { background-color: #DDDDDD; }

.cloud_client_app_menu3 > .menu_entries > .menu_selected {

  background-color: #313131;
  color: white;

}

.cloud_client_app_menu3 > .menu_entries > .menu_entry:hover {

  background-color: #313131;
  color: white;

}

/*----------------------------------------------------- CONTENT ------------------------------------------------------*/

/*------ ISSUE ------*/

.issue_form {

  border: solid;
  background-color: lightgrey;
  margin: 12px;
  padding: 12px;

}

.issue_form .back {

  float: right;
  margin: 12px;
  padding: 6px;

}

/*------ ANNOUNCEMENT ------*/

.cloud_client_app_announcement {

  padding: 1em;
  overflow: hidden;

}

.cloud_client_app_announcement_topic {

  margin-top: 0;
  margin-bottom: 0;
  font-size: 120%;

}

.cloud_client_app_announcement_footer { font-size: 60%; }

/*------ FORM ------*/

.cloud_client_app_form { padding: 1em; }

.ccm-cloud_client_app .ccm-form {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;

}

.ccm-cloud_client_app .ccm-form * { max-width: 99%; }

.ccm-cloud_client_app .ccm-form ul { padding-left: 1em; }
