.ccm-index {

    font-family: Arial, sans-serif;
    padding: 0.5em;

}

.ccm-index #header {

    font-size: x-large;
    font-weight: bold;

}

.ccm-index #langmenu {

    float: right;

}

.ccm-index #menu {

    clear: both;

}