
.ccm-menu > .menu_entries {

  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  margin: 10px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;

  color: white;

}

.ccm-menu > .menu_entries > .menu_entry {

  flex-grow: 1;
  -webkit-flex-grow: 1;

  margin: 0.15em;
  border-radius: 1em;
  padding: 0.3em 0.6em;

  text-align: center;
  font-weight: bold;
  cursor: pointer;

}

.ccm-menu > .menu_entries > .menu_entry:not( .menu_selected ) { background-color: #DDDDDD; }

.ccm-menu > .menu_entries > .menu_selected { background-color: #0095DD; }

.ccm-menu > .menu_entries > .menu_entry:hover { background-color: #64f8ff; }
